$breakPointTablette: 480px;
$breakPointBureau: 960px;

$largeurContenu: 1140px;

$tailleFont: 15px;
$tailleH1: 36px;
$tailleH2: 24px;
$tailleH3: 18px;
$lineHeight: 1.5;

$familyFont: "Open Sans", sans-serif;
$familyTitle: "Raleway", sans-serif;

$siteBackground: #eee;
$fondElementGris: #eee;
$headerBackground: #0c6588; /* + une image de fond */
$menuBackground: #e2f7ff;
$mainBackground: #fff;
$footerBackground: #333;
$titre: #333;
$text: #555;
$textHeader: #e2f7ff;
$textFooter: #ddd;
$aButton: #0c6588;
$aButtonHover: #000;
$aFooter: #eee;

$borderSm: 1px solid #eee;
$borderMd: 1px solid #ddd;
$borderLg: 2px solid #ccc;

$ombreSm: 0 0 1px rgba(0, 0, 0, 0.2);
$ombreMd: 0 0 3px rgba(0, 0, 0, 0.3);
$ombreLg: 0 0 5px rgba(0, 0, 0, 0.4);
$ombreXl: 0 10px 20px rgba(0, 0, 0, 0.5);
