@charset "UTF-8";
/* + une image de fond */
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
body h1 {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  margin: 5px;
}
body h2 {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
body h3 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
body .suite {
  margin-top: 100px;
}
body header {
  background-image: url(../../exo/FRONT/images/header.jpg);
  background-position: center;
  text-align: center;
  color: white;
}
body header .optionPreheader {
  background-color: #e2f7ff;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
  color: black;
}
body header .optionPreheader p {
  margin: 0;
  padding: 0;
}
body header .optionPreheader a {
  color: #0c6588;
  margin-left: 5px;
}
body header img {
  width: 100px;
}
body header p {
  margin: 5px;
}
body header button {
  margin: 20px;
  color: white;
  border: none;
  background-color: transparent;
}
body header button i {
  padding-bottom: 15px;
}
body header ul {
  background-color: #e2f7ff;
  color: #0c6588;
  list-style-type: none;
  padding: 5px;
}
body header ul li {
  padding: 10px;
}
body header ul img {
  width: 15px;
  vertical-align: middle;
}
body main {
  padding: 15px;
}
body main .AOC {
  display: flex;
  flex-direction: column;
}
body main .AOC h2 {
  margin-bottom: 20px;
}
body main section {
  margin-top: 75px;
}
body main .zoneTitreSection {
  width: 100%;
  max-width: 100%;
  text-wrap: nowrap;
  overflow: hidden;
}
body main .titreSection {
  position: relative;
}
body main .titreSection::after {
  content: "• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •"; /* Chaîne de points */
  font-size: 35px;
  position: absolute;
  color: #eee;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 8px;
  margin-left: 40px;
}
body main .infoTV {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
body main .infoTV .rassembleEtiquette {
  display: flex;
  align-items: center;
}
body main .infoTV .rassembleEtiquette .triangle {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #eee;
}
body main .infoTV .rassembleEtiquette .btn {
  background-color: #eee;
  border: none;
  border-radius: 0 5px 5px 0;
  color: black;
  padding: 5px 15px 5px 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
body main .infoTV .rassembleEtiquette .btn .badge {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
}
body main .infoTV .etiquette {
  text-align: right;
  background-color: #eee;
  border-radius: 100% 5% 5% 100%;
  margin-left: 10px;
  padding-left: 20px;
}
body main .infoTV .etiquette .trouEtiquette {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
}
body main .carousel {
  margin-bottom: 35px;
}
body main .carousel p {
  text-align: center;
}
body main .switchSlider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto;
}
body main .switchSlider img {
  width: 15%;
}
body main .miseAuPanier p.marque {
  margin: 15px 0;
}
body main .miseAuPanier p.prix {
  margin: 5px 0;
}
body main .miseAuPanier p.sousInfo {
  font-size: 0.8em;
  margin: 0;
}
body main .miseAuPanier button {
  border: none;
  background-color: #0c6588;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
}
body main ul {
  margin-left: 15px;
}
body main .descriptif img {
  width: 100%;
  padding: 20px;
  border: 1px solid #eee;
  margin: 15px 0;
}
body main .descriptif p:last-of-type {
  margin-top: 15px;
}
body main .confort img {
  width: 100%;
  padding: 20px;
  border: 1px solid #eee;
  margin: 15px 0;
}
body main .confort p:last-of-type {
  margin-top: 15px;
}
body main tr {
  border: 1px solid red;
}

/*# sourceMappingURL=style.css.map */
